body
{
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url('images/back.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
	font-family: Arial, sans-serif;
	color: white;
	background-attachment: fixed;
}

.logo img
{ 
	height:100px;
	float:left;
	margin:20px;
}

.home img
{ 
	height:100px;
	float:right;
	margin:20px;
}